#header{
    .bloc-nav {
        position: relative;
    }
    .logo {
        padding-right: 35px;
        margin-bottom: 20px;
    }
    nav a:hover {
        text-decoration: underline;
    }
    .navigation {
        position: absolute;
        width: 100%;
        top: 30px;
        left: 0;
        z-index: 2;
    }
    li {
        a {
            padding: 10px 50px;
            color: $b;
            text-transform: uppercase;
        }
        .connect a {
            padding: 10px 5px;
        }
    }
    li:nth-child(1) {
        background : $opac3;
        height : 32px;
    }
    li:nth-child(2) {
        background : $opac2;
    }
    li:nth-child(3) {
        background : $opac1;
    }
    .titre-header {
        font-weight: bold;
    }
    ul.orbit-container {
    height: auto !important;
    }
    li.orbit-slide {
        max-height: none !important;
    }
    @media screen and (max-width: 639px){
        .orbit-image {
        width: auto;
        height: 650px;
        }
    }
}
