<footer id="footer">
  <section class="row">
    <div class="medium-4 columns">
      <a href="#">Inscrivez-vous à la newsletter des musées !</a>
    </div>
    <div class="medium-4 columns">
      <form action="#">
        <div class="row">
          <div class="medium-9 columns">
            <input type="email" name="email" placeholder="E-MAIL">
          </div>
          <div class="medium-3 columns">
            <input type="submit" name="name" value="OK">
          </div>

        </div>
      </form>
    </div>
    <div class="medium-4 columns">
      <a href="#">Publications des musées</a>
      <img src="../assets/img/separation.png" alt="Séparateur 1">
      <a href="#">Espace presse</a>
    </div>
  </section>
  <section class="row">
    <a href="#">Accueil</a>
    <img src="../assets/img/separation.png" alt="Séparateur 2">
    <a href="#">Contact</a>
    <img src="../assets/img/separation.png" alt="Séparateur 3">
    <a href="#">Plan du site</a>
    <img src="../assets/img/separation.png" alt="Séparateur 3">
    <a href="#">Mentions légales</a>

  </section>
</footer>
