<footer id="footer">
  <section class="row">
    <div class="medium-6 large-4 columns news">
      <a href="#">Inscrivez-vous à la newsletter des musées !</a>
    </div>
    <div class="medium-6 large-4 columns">
      <form action="#">
        <div class="row">
          <div class="small-9 columns">
            <input type="email" name="email" placeholder="E-MAIL">
          </div>
          <div class="small-3 columns">
            <input type="submit" name="name" value="OK">
          </div>
        </div>
      </form>
    </div>
    <div class="medium-12 large-4 columns">
        <ul class="menu">
            <li>
                <a href="#">Publications des musées</a>
            </li>
            <li>
                <img src="../assets/img/separation.png" alt="Séparateur 1">
            </li>
            <li>
                <a href="#">Espace presse</a>
            </li>
        </ul>
    </div>
  </section>
  <section class="row">
    <div class="small-12 column">
        <ul class="menu">
            <li>
                <a href="#">Accueil</a>
            </li>
            <li>
                <img src="../assets/img/separation.png" alt="Séparateur 2">
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <img src="../assets/img/separation.png" alt="Séparateur 3">
            </li>
            <li>
                <a href="#">Plan du site</a>
            </li>
            <li>
                <img src="../assets/img/separation.png" alt="Séparateur 3">
            </li>
            <li>
                <a href="#">Mentions légales</a>
            </li>
        </ul>
    </div>
  </section>
</footer>
