<header id="header">

  <div class="row">
    <img src="../assets/img/logo-musees.png" alt="logo musees de strasbourg" class="medium-3 columns">
    <nav class="large-9 columns">
      <ul class="menu vertical">
        <li>
          <div class="row">
            <div class="small-4 columns">
              Actualités/Agenda
            </div>
            <div class="small-4 columns">
              <a href="#"><img src="../assets/img/loupe.png" alt="Loupe"></a>
              <a href="#"><span>Fr</span></a>
            </div>
          </div>
        </li>
        <li>Musées</li>
        <li>Informations</li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <h1>
      Nouvelles salles des dessins d’architecture <br>
      de la cathédrale de Strasbourg
    </h1>
    <p>
      N’oubliez pas de vous inscrire <br>
      pour visiter la salle de conservation des dessins !
    </p>
  </div>

</header>
