<header id="header">
      <div class="row navigation">
        <div class="logo medium-3 columns">
            <a href="#">
                <img src="../assets/img/logo-musees.png" alt="logo musees de strasbourg">
            </a>
        </div>
        <nav class="medium-9 columns">
          <ul class="menu vertical">
            <li>
              <div class="row">
                <div class="small-4 columns">
                  <a href="#">Actualités/Agenda</a>
                </div>
                <div class="connect text-right small-4 columns">
                  <a href="#"><img width="14px" src="../assets/img/loupe.png" alt="Loupe"></a>
                  <a href="#"><span>Fr</span></a>
                </div>
              </div>
            </li>
            <li><a href="#">Musées</a></li>
            <li><a href="#">Informations</a></li>
          </ul>
        </nav>
      </div>
  <div class="row">
        <div class="small-12 medium-10 large-9 column titre-header">
            <h1>
              Nouvelles salles des dessins d’architecture de la cathédrale de Strasbourg
            </h1>
            <p>
              N’oubliez pas de vous inscrire pour visiter la salle de conservation des dessins !
            </p>
        </div>
  </div>

</header>
