<section id="musees">
  <div class="row medium-up-3">
      <figure class="columns">
        <img src="../assets/img/AUBETTE_1928.jpg" alt="Aubette 1928">
        <figcaption>Aubette 1928</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/CABINET_DES_ESTAMPES_&_DES_DESSINS.jpg" alt="Cabinet des estampes et des dessins">
        <figcaption></figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/MUSÉE_ALSACIEN.jpg" alt="Musée alsacien">
        <figcaption></figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/MUSÉE_ARCHÉOLOGIQUE.jpg" alt="musée archéologique">
        <figcaption></figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/MUSÉE_DES_ARTS_DÉCORATIFS.jpg" alt="Musée des arts décoratifs">
        <figcaption></figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/MUSÉE_D’ART_MODERNE_&_CONTEMPORAIN.jpg" alt="Musée d'art moderne et contemporain">
        <figcaption></figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/MUSÉE_DES_BEAUX-ARTS.jpg" alt="Musée des beaux arts">
        <figcaption></figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/MUSÉE_HISTORIQUE.jpg" alt="Musée historique">
        <figcaption></figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/MUSÉE_DE_L’OEUVRE-NOTRE-DAME.jpg" alt="Musée de l'oeuvre notre dame">
        <figcaption></figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/MUSÉE_TOMI_UNGERER.jpg" alt="Musé Tomi Ungerer">
        <figcaption></figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/MUSÉE_ZOOLOGIQUE.jpg" alt="Musée zoologique">
        <figcaption></figcaption>
      </figure>


</div>
</section>
