<section id="musees">
  <div class="row medium-up-2 large-up-3">
      <figure class="columns">
        <img src="../assets/img/aubette_1928.jpg" alt="Aubette 1928">
        <figcaption>Aubette 1928</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/cabinet_des_estampes_&_des_dessins.jpg" alt="Cabinet des estampes et des dessins">
        <figcaption>Cabinet des estampes et des dessins</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/musee_alsacien.jpg" alt="Musée alsacien">
        <figcaption>Musée alsacien</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/musee_archéologique.jpg" alt="Musée archéologique">
        <figcaption>Musée archéologique</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/musee_des_arts_décoratifs.jpg" alt="Musée des arts décoratifs">
        <figcaption>Musée des arts décoratifs</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/musee_d’art_moderne_&_contemporain.jpg" alt="Musée d'art moderne et contemporain">
        <figcaption>Musée d'art moderne et contemporain</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/musee_des_beaux-arts.jpg" alt="Musée des beaux arts">
        <figcaption>Musée des beaux arts</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/musee_historique.jpg" alt="Musée historique">
        <figcaption>Musée historique</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/musee_de_l’oeuvre-notre-dame.jpg" alt="Musée de l'oeuvre notre dame">
        <figcaption>Musée de l'oeuvre notre dame</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/musee_tomi_ungerer.jpg" alt="Musé Tomi Ungerer">
        <figcaption>Musé Tomi Ungerer</figcaption>
      </figure>
      <figure class="columns">
        <img src="../assets/img/musee_zoologique.jpg" alt="Musée zoologique">
        <figcaption>Musée zoologique</figcaption>
      </figure>


</div>
</section>
